<div class="modal" id="turnaround-calculation-dialog" tabindex="-1" aria-labelledby="turnaround-calculation-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"><div class="modal-content">
    <div class="modal-header"><h2 class="modal-title fs-5" id="turnaround-calculation-title">Turnaround calculation</h2>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close calculation"></button></div>
    <div class="modal-body">
      <h3 class="h6">Time counted within office hours</h3><p class="turnaround-equation" data-calculation-equation></p>
      <h3 class="h6">How the average is calculated</h3><p class="turnaround-equation" data-calculation-average></p>
      <div data-calculation-schedule></div>
    </div>
    <div class="modal-footer"><button type="button" class="btn btn-udm-outline" data-bs-dismiss="modal">Close</button></div>
  </div></div>
</div>
